.Wrapper {
    width: 100%;
    min-height: 72px;
    background: var(--offwhite);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.UserLoggedBanner {
    min-width: 155px;
    min-height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.UserInfo {
    min-width: 100px;
    min-height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: start;
}

.UserTitle {
    color: var(--grass);
}

.UserImg {
    background: url(../../assets/Image/Ellipse\ 1.png) no-repeat;
    background-position: center center;
    min-width: 43px;
    min-height: 43px;
}