.UserBanner_Wrapper {
    min-width: 180px;
    min-height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 700;
}

.User_Login {
    min-width: 76px;
    min-height: 24px;
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--slow);
    margin-right: 50px;
    cursor: pointer;
}

.LoginIcon {
    min-width: 24px;
    min-height: 24px;
}

.Login {
    min-width: 43px;
    min-height: 16px;
    padding-left: 10px;
}

.Login:hover {
    color: rgba(0, 0, 0, 0.75);
}

.UserRegister {
    min-width: 89px;
    min-height: 36px;
    background: #000;
    color: #fff;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: var(--slow);
}

.UserRegister:hover {
    background: rgba(0, 0, 0, 0.85);
}