* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

:root {
  --white: rgb(255, 255, 255);
  --offwhite: rgb(251, 251, 251);
  --black: rgb(0, 0, 0);
  --shadow: rgba(0, 0, 0, 0.5);
  --grey: rgb(236, 236, 234);
  --grass: rgb(123, 139, 111);

  --font: Helvetica;
}

body {
  font-family: var(--font);
  background-color: var(--white);
  box-shadow: 0 3px 6px var(--grey);
}