* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

:root {

  /*  colors  */

  --white: rgb(255, 255, 255);

  --offwhite: rgb(251, 251, 251);

  --black: rgb(0, 0, 0);

  --shadow: rgba(0, 0, 0, 0.2);

  --grey: rgb(236, 236, 234);

  --dark-grey: rgb(214, 214, 214);

  --grass: rgb(123, 139, 111);


  /*  fonts  */

  --font: Helvetica;


  /*  transition  */
  --slow: ease-in-out 0.2s;
  --medium: ease-in-out 0.15s;
  --fast: ease-in-out 0.1s;

}

body {
  font-family: var(--font);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
}

.UserLoggedin_Banner {
  display: flex;
  flex-direction: row;
  align-items: start;
}