.UserLoggedInBanner {
    min-width: 155px;
    min-height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.UserInfo {
    min-width: 100px;
    min-height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding: 0 10px 10px;
}

.UserTitle {
    color: rgb(123, 139, 111);
}

.UserImg {
    background: url(../../../../../assets/UserImg.png) no-repeat;
    min-width: 55px;
    min-height: 55px;
}