.wrapper {
  height: calc(100vh - 120px);
  width: 100vw;
  padding: 0 20px;
  max-height: 650px;
  box-sizing: border-box;
  /* background-color: yellow; */
  background-image: url(../../assets/img/home-bg.jpg);
  background-repeat: no-repeat;
}

.container {
  margin-left: 200px;
  padding-top: 200px;
}

.font {
  color: rgb(41, 43, 50);
  font-family: museo-bold, "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
    sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: -0.15px;
  width: 374px;
  height: 46px;
}

.searchButton {
  /* margin-top: 150px; */
}

.button {
  width: 150px;
  height: 40px;
  margin-top: 20px;
  /* margin-left: 5px; */
  background-color: pink;
  border-style:none;
  cursor: pointer;
  border-radius: 10px;
}
