.Header_Wrapper {
    width: 100%;
    min-height: 72px;
    background: var(--offwhite);
    color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

